.dates {
    font-family: 'Direction';
    font-size: 20px;
    padding: 12px;
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
}

.dates-mini {
    font-family: 'Aesthe';
    /* font-family: 'Modellista'; */
    font-size: 11px;
    padding: 0 !important;
    display: flex;
    justify-content: center;
}

.current {
    width: 24px;
    height: 24px;
    background-color: #e5ff86;
    border-radius: 25%;
}

.mini-current {
    text-align: center;
    width: 15px;
    height: 15px;
    background-color: #e5ff86;
    border-radius: 25%;
}

.mini-top {
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 4px;
    padding: 0 !important;
}

.dates-top {
    font-family: 'Rading';
    font-weight: bold;
    font-size: 20px;
}