.mini-calendar {
    background-color: #FEFFE6;
    border: solid grey;
    border-width: 1px;
    width: 45%;
    height: 197px;
    margin-bottom: 12px !important;
}

.mini-p {
    font-family: 'Vel';
    width: 100%;
    color: #201b50;
    font-size: 18px;
    /* font-weight: bold; */
    text-align: center;
    margin-bottom: 1px;
}